<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpc.admin.dao.PermissionDao" >
  	<resultMap id="BaseResultMap" type="com.wpc.admin.entity.Permission" >
    	<id column="id" property="id" />
	    <result column="permission_name" property="permissionName" />
	    <result column="update_time" property="updateTime" />
  	</resultMap>
  
  	<sql id="table_columns" >
	    id,
	    permission_name,
	    update_time
  	</sql>
  	<sql id="entity_properties">
	  	#{id},
	  	#{permissionName},
	  	#{updateTime}
  	</sql>
  
  	<insert id="save" parameterType="com.wpc.admin.entity.Permission">
	  	INSERT INTO permission ( <include refid="table_columns" /> ) 
	  	VALUES ( <include refid="entity_properties" /> )
  	</insert>
  
  	<delete id="delete" parameterType="Integer">
  		DELETE FROM permission 
  		WHERE id=#{id}
  	</delete>
  
  	<delete id="deleteByIds">
		DELETE FROM permission
		WHERE id IN
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
  	</delete>
  
  	<update id="update" parameterType="com.wpc.admin.entity.Permission">
	  	UPDATE permission 
	  	<trim prefix="set" suffixOverrides=",">
		  	<if test="permissionName != null and permissionName != ''">permission_name = #{permissionName},</if>
		  	<if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
	  	</trim>
	  	<where>id=#{id}</where>
  	</update>
  
  	<select id="findById" resultMap="BaseResultMap" parameterType="Integer">
  		SELECT <include refid="table_columns"/> 
  		FROM permission 
  		WHERE id=#{id}
  	</select>
  	
  	<select id="queryAll" resultMap="BaseResultMap">
  		SELECT <include refid="table_columns"/> 
  		FROM permission 
  	</select>
  	
  	<sql id="page_where">
	  	<trim prefix="where" suffixOverrides="and | or ">
		  	<if test="permissionName != null and permissionName != ''">permission_name = #{permissionName}</if>
		  	<if test="updateTime != null and updateTime != ''">update_time = #{updateTime}</if>
	  	</trim>
  	</sql>
  	
  	<select id="search" resultMap="BaseResultMap" parameterType="com.wpc.admin.entity.Permission">
  		SELECT <include refid="table_columns"/> 
  		FROM permission
  		<include refid="page_where" />
  	</select>
  	
  	<select id="page" resultMap="BaseResultMap" parameterType="com.wpc.admin.entity.Permission">
  		SELECT <include refid="table_columns"/> 
  		FROM permission
  		<include refid="page_where" />
  		LIMIT #{firstIndex},#{pageSize}
  	</select>
  
  	<select id="count" resultType="int" parameterType="com.wpc.admin.entity.Permission">
	  	SELECT COUNT(id) 
	  	FROM permission
	  	<include refid="page_where" />
  	</select>
  	
  	<!-- 其他自定义SQL -->
  	
</mapper>