<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpc.admin.dao.UserDao" >
  	
  	<!-- <cache eviction="LRU" type="com.wpc.redis.RedisCache"/> -->
  	
  	<resultMap id="BaseResultMap" type="com.wpc.admin.entity.User" >
    	<id column="id" property="id" />
	    <result column="username" property="username" />
	    <result column="account" property="account" />
	    <result column="password" property="password" />
	    <result column="age" property="age" />
	    <result column="update_time" property="updateTime" />
  	</resultMap>
  
  	<sql id="table_columns" >
	    id,
	    username,
	    account,
	    password,
	    age,
	    update_time
  	</sql>
  	<sql id="entity_properties">
	  	#{id},
	  	#{username},
	  	#{account},
	  	#{password},
	  	#{age},
	  	#{updateTime}
  	</sql>
  
  	<insert id="save" parameterType="com.wpc.admin.entity.User" keyProperty="id" useGeneratedKeys="true">
	  	INSERT INTO user ( <include refid="table_columns" /> ) 
	  	VALUES ( <include refid="entity_properties" /> )
  	</insert>
  
  	<delete id="delete" parameterType="Integer">
  		DELETE FROM user 
  		WHERE id=#{id}
  	</delete>
  
  	<delete id="deleteByIds">
		DELETE FROM user
		WHERE id IN
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
  	</delete>
  
  	<update id="update" parameterType="com.wpc.admin.entity.User">
	  	UPDATE user 
	  	<trim prefix="set" suffixOverrides=",">
		  	<if test="username != null and username != ''">username = #{username},</if>
		  	<if test="account != null and account != ''">account = #{account},</if>
		  	<if test="password != null and password != ''">password = #{password},</if>
		  	<if test="age != null and age != ''">age = #{age},</if>
		  	<if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
	  	</trim>
	  	<where>id=#{id}</where>
  	</update>
  
  	<select id="findById" resultMap="BaseResultMap" parameterType="Integer">
  		SELECT <include refid="table_columns"/> 
  		FROM user 
  		WHERE id=#{id}
  	</select>
  	
  	<select id="queryAll" resultMap="BaseResultMap">
  		SELECT <include refid="table_columns"/> 
  		FROM user 
  	</select>
  	
  	<sql id="sel_where">
	  	<trim prefix="where" prefixOverrides="and | or ">
		  	<if test="username != null and username != ''">and username = #{username}</if>
		  	<if test="account != null and account != ''">and account = #{account}</if>
		  	<if test="password != null and password != ''">and password = #{password}</if>
		  	<if test="age != null and age != ''">and age = #{age}</if>
		  	<if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
	  	</trim>
  	</sql>
  	
  	<select id="search" resultMap="BaseResultMap" parameterType="com.wpc.admin.entity.User">
  		SELECT <include refid="table_columns"/> 
  		FROM user
  		<include refid="sel_where" />
  	</select>
  	
  	<sql id="query_where">
	  	<trim prefix="where" prefixOverrides="and | or ">
		  	<if test="username != null and username != ''">and username like #{username}</if>
		  	<if test="account != null and account != ''">and account like #{account}</if>
		  	<if test="password != null and password != ''">and password like #{password}</if>
		  	<if test="age != null and age != ''">and age like #{age}</if>
		  	<if test="updateTime != null and updateTime != ''">and update_time like #{updateTime}</if>
	  	</trim>
  	</sql>
  	
  	<select id="query" resultMap="BaseResultMap" parameterType="com.wpc.admin.entity.User">
  		SELECT <include refid="table_columns"/> 
  		FROM user
  		<include refid="query_where" />
  	</select>
  	
  	<select id="count" resultType="int" parameterType="com.wpc.admin.entity.User">
	  	SELECT COUNT(id) 
	  	FROM user
	  	<include refid="sel_where" />
  	</select>
  	
  	<!-- 分页查询条件，供datatables插件查询使用 -->
  	<sql id="page_where">
  		<if test="condition != null">
		  	<trim prefix="where" prefixOverrides="and |or ">
			  	<if test="condition.username != null and condition.username != ''">and username = #{condition.username}</if>
			  	<if test="condition.account != null and condition.account != ''">and account = #{condition.account}</if>
			  	<if test="condition.password != null and condition.password != ''">and password = #{condition.password}</if>
			  	<if test="condition.age != null and condition.age != ''">and age = #{condition.age}</if>
			  	<if test="condition.updateTime != null and condition.updateTime != ''">and update_time = #{condition.updateTime}</if>
		  	</trim>
	  	</if>
  	</sql>
  	
  	<!-- 查询条数，供datatables插件查询使用 -->
  	<select id="countPage" resultType="int">
	  	SELECT COUNT(id) 
	  	FROM user
	  	<include refid="page_where" />
  	</select>
  
  	<!-- 分页查询，供datatables插件查询使用 -->
  	<select id="searchPage" resultMap="BaseResultMap" useCache="true">
  		SELECT <include refid="table_columns"/> 
  		FROM user
  		<include refid="page_where" />
  		<include refid="order"/>
  		<include refid="limit"/>
  	</select>
  	
  	<!-- 排序，供datatables插件查询使用 -->
  	<sql id="order">
  		<if test="condition.orderColumn != null and condition.orderColumn != ''">ORDER BY ${condition.orderColumn} ${condition.orderDir}</if>
  	</sql>
  	
  	<!-- 分页，供datatables插件查询使用  -->
  	<sql id="limit">
  		LIMIT #{start}, #{length}
  	</sql>
  	
  	<!-- 其他自定义SQL -->
  	<select id="getUserByAccount" resultMap="BaseResultMap" parameterType="String">
  		SELECT <include refid="table_columns"/> 
  		FROM user
  		WHERE account = #{account}
  	</select>
  	
  	<select id="queryUserByRole" resultMap="BaseResultMap" parameterType="int">
  		SELECT
  			u.id,
		    u.username
		FROM
			auth_user_role ur,
			USER u
		WHERE
			ur.user_id = u.id
		AND ur.role_id = #{roleId}
  	</select>
  	
</mapper>