<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpc.admin.dao.UserDao" >
  	<resultMap id="BaseResultMap" type="com.wpc.admin.entity.User" >
    	<id column="id" property="id" />
	    <result column="username" property="username" />
	    <result column="password" property="password" />
	    <result column="age" property="age" />
	    <result column="update_time" property="updateTime" />
  	</resultMap>
  
  	<sql id="table_columns" >
	    id,
	    username,
	    password,
	    age,
	    update_time
  	</sql>
  	<sql id="entity_properties">
	  	#{id},
	  	#{username},
	  	#{password},
	  	#{age},
	  	#{updateTime}
  	</sql>
  
  	<insert id="save" parameterType="com.wpc.admin.entity.User">
	  	INSERT INTO user ( <include refid="table_columns" /> ) 
	  	VALUES ( <include refid="entity_properties" /> )
  	</insert>
  
  	<delete id="delete" parameterType="Integer">
  		DELETE FROM user 
  		WHERE id=#{id}
  	</delete>
  
  	<delete id="deleteByIds">
		DELETE FROM user
		WHERE id IN
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
  	</delete>
  
  	<update id="update" parameterType="com.wpc.admin.entity.User">
	  	UPDATE user 
	  	<trim prefix="set" suffixOverrides=",">
		  	<if test="username != null and username != ''">username = #{username},</if>
		  	<if test="password != null and password != ''">password = #{password},</if>
		  	<if test="age != null and age != ''">age = #{age},</if>
		  	<if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
	  	</trim>
	  	<where>id=#{id}</where>
  	</update>
  
  	<select id="findById" resultMap="BaseResultMap" parameterType="Integer">
  		SELECT <include refid="table_columns"/> 
  		FROM user 
  		WHERE id=#{id}
  	</select>
  	
  	<select id="queryAll" resultMap="BaseResultMap">
  		SELECT <include refid="table_columns"/> 
  		FROM user 
  	</select>
  	
  	<sql id="page_where">
	  	<trim prefix="where" suffixOverrides="and | or ">
		  	<if test="username != null and username != ''">username = #{username}</if>
		  	<if test="password != null and password != ''">password = #{password}</if>
		  	<if test="age != null and age != ''">age = #{age}</if>
		  	<if test="updateTime != null and updateTime != ''">update_time = #{updateTime}</if>
	  	</trim>
  	</sql>
  	
  	<select id="search" resultMap="BaseResultMap" parameterType="com.wpc.admin.entity.User">
  		SELECT <include refid="table_columns"/> 
  		FROM user
  		<include refid="page_where" />
  	</select>
  	
  	<select id="page" resultMap="BaseResultMap" parameterType="com.wpc.admin.entity.User">
  		SELECT <include refid="table_columns"/> 
  		FROM user
  		<include refid="page_where" />
  		LIMIT #{firstIndex},#{pageSize}
  	</select>
  
  	<select id="count" resultType="int" parameterType="com.wpc.admin.entity.User">
	  	SELECT COUNT(id) 
	  	FROM user
	  	<include refid="page_where" />
  	</select>
  	
  	<!-- 其他自定义SQL -->
  	
</mapper>